.editor_btn {
  background-color: rgba(224, 224, 224);
  //border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
}

.range_buttons_container {
margin-top: -30px;
}


.editor_btn:disabled {
  color: #999999;
}

.end_btn {
  border-bottom-right-radius : 8px;
  border-top-right-radius : 8px;
}

.start_btn {
  border-bottom-left-radius : 8px;
  border-top-left-radius : 8px;
}

.editor_btn:hover:enabled {
  background-color: rgba(185, 185, 185);
}

.editor_btn:hover:active:enabled {
  background-color: rgba(165, 165, 165);
}

.range_container {
  display: "flex";
  justify-content: "center";
  flex-wrap: "wrap";
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttons_container{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.fullsettings_container{
  font-size: 12px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border-bottom-width: 1px !important;

}

.active_live_btn{
  background-color: rgb(185, 127, 127);
  color: red;
}

.active_live_btn:hover{
  background-color: rgb(182, 97, 97) !important ;
}

.settings_container {
  display: flex;
  align-items: stretch;
  width: 100%;
  overflow: auto;
  position: relative;
}

.column_settings {
  display: flex;
  flex-direction: column;
  flex: 3 1;
  align-items: stretch;
  font-size: small;
  margin-right: 5px;
  padding: 3px;
  border-radius: 3px;
  margin-top: 1em;
}

input.settings_control_input {
  font-size: 12px !important;
  outline: none;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(0,0,0, 0.1);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2px 2px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: 0.3s ease;
  width: 100px;
}