.editor_btn {
  background-color: rgba(224, 224, 224);
  //border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
}


.editor_btn:disabled {
  color: #999999;
}

.end_btn {
  border-bottom-right-radius : 8px;
  border-top-right-radius : 8px;
}

.start_btn {
  border-bottom-left-radius : 8px;
  border-top-left-radius : 8px;
}

.editor_btn:hover:enabled {
  background-color: rgba(185, 185, 185);
}

.editor_btn:hover:active:enabled {
  background-color: rgba(165, 165, 165);
}

.range_container {
  display: "flex";
  justify-content: "center";
  flex-wrap: "wrap";
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.buttons_container{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.settings_container{
  font-size: 12px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.active_live_btn{
  background-color: rgb(185, 127, 127);
  color: red;
}

.active_live_btn:hover{
  background-color: rgb(182, 97, 97) !important ;
}