a:link {
    text-decoration: none;
    color : white !important;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

  .login_link {
    display: inline;
    color:white;
  }

  .username_container {
    color : white;
    display: inline;
    vertical-align: auto;
  }