.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body{
    padding:0px;
    margin:0px;
    background:#F8F2ED;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.7);;
    height:100%;
 }
 
 .login_container{
    min-height:300px;
    max-width:330px;
    margin:40px auto;
    background:#FFF;
    border-radius:2px;
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction:column;
    overflow:hidden;
    animation: hi 0.5s;
    -webkit-transform: translateZ(0px);
    *{
       box-sizing:border-box;
    }
 }

 .logo_container {
    //margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: #212529;
    color : white;
    font-size: 1.25rem;
 }
 
 .error_notification_panel {
    background-color: rgba(255, 0, 0, 0.555);
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    color: white;
    text-align: center;
 }

 .success_notification_panel {
    background-color: rgba(17, 190, 40, 0.717);
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    color: white;
    text-align: center;
 }



 .pages{
    flex:1;
    white-space:nowrap;
    position:relative;
    transition:all 0.4s;
    display:flex;
    .page{
       min-width:100%;
       max-height: 400px;
       overflow: scroll;
       padding:20px 15px;
       padding-top:0px;
       //background:linear-gradient(to left, #955DFF, #6FAAFF);
       background : white;
       &:nth-of-type(1){
          .input { transform:translateX(-100%) scale(0.5); }
       }
       &:nth-of-type(2){
          .input { transform:translateX(100%) scale(0.5); }
          
       }
       .input{
          transition:all 1s; 
          opacity:0; 
          transition-delay:0s;
          
       }
       &.signup{
          //background:linear-gradient(to left, #6FAAFF, #955DFF);
          background: white;
       }
       .title{
          margin-bottom:10px;
          font-size:14px;
          position:relative;
          line-height:14px;
          i{
             vertical-align:text-bottom;
             font-size:19px;
          }
       }
       .input{
          margin-top:20px;
       }

       input.text{
          background:#DDD;
          border:none;
          border-radius:4px;
          width:100%;
          height:40px;
          line-height:40px;
          padding:0px 10px;
          color:rgba(0, 0, 0, 0.9);
          outline:none;
       }
       
       input[type=submit]{
          //background:rgba(0, 0, 0, 0.5);
          background-color: #212529;

          color:#F6F7F9;
          height:40px;
          line-height:40px;
          width:100%;
          border:none;
          border-radius:4px;
          font-weight:600;
       }
    }
 }
 
 .tabs{
    max-height:50px;
    height:50px;
    display:flex;
    background:#FFF;
    
    .tab{
       flex:1;
       color:#5D708A;
       text-align:center;
       line-height:50px;
       transition:all 0.2s;
       margin-bottom: 0 !important;
       .text{
          font-size:14px;
          transform:scale(1);
          transition:all 0.2s;
       }
    }  
 }
 
 input[type=radio]{ display:none; }
 @for $i from 0 through 1{
    input[type=radio]:nth-of-type(#{$i + 1}):checked {
       ~ .tabs .tab:nth-of-type(#{$i + 1}){
          //box-shadow:inset (6 * $i) + -3px 2px 5px rgba(0, 0, 0, 0.25);
          //background-color: #5D708A;
          color:#2d3762;
          font-size: 1em;
          .text{ transform:scale(0.9); }
       }
       
       ~ .pages{
          transform:translateX(-100% * $i);
          
          .page:nth-of-type(#{$i + 1}){
             .input { 
                opacity:1; 
                transform:translateX(0%); 
                transition:all 0.1s;
                @for $i from 1 through 5{
                   &:nth-child(#{$i}) { 
                      transition-delay:0.1s*$i
                   }
                }
             }
          }
       }
    }
 }
 
 @keyframes hi{
    from { transform: translateY(50%) scale(0, 0); opacity:0; }
 }

