  ul {
    list-style-type: none;
    padding: 5px;
    overflow: scroll;
  }
  li:active:hover { 
    background-color: #777;
  }
  
  ul li {
    overflow:hidden;
    margin: 5px;
    border-radius: 5px;
    background: #999;
    padding: 2px;
    color:white;
    position: relative;
  }

  .protocol_text {
    float: left;
    position: relative;
    width: 65%
  }

  .protocol_meta {
    display: flex;
    align-items: center;
    width: 35%;
    border-left: 1px solid white;
    padding-left: 5px;
    height: 100%;
    right: 0;
    position: absolute;
    font-size: 0.8em;
  }
  
  .protocol_title {
    border : 1px solid #333;
    border-radius: 2px;
    padding: 2px;
    margin-top: 10px;
    background: #666;
    width: 70%;
    font-size: 1.2em;
  }