  .lister_container {
    height: inherit;
    //overflow-y: scroll;
  }

  .your_protocols_container {
    height: 60%;
  }

  .public_protocols_container {
    height: 40%;
  }

  // .your_protocols_shad {
  //   position: relative;
  //   z-index: 999;
  //   height: 90%;
  //   box-shadow: 
  //   inset 0px 11px 8px -10px rgb(255, 255, 255),
  //   inset 0px -11px 8px -10px rgb(255, 255, 255); 
  //   z-index: 99;
  // }

  .your_protocols {
    height: 90%;
    overflow-y: scroll;
    z-index: -1;
  }

  .public_protocols {
    height: 90%;
    overflow-y: scroll;
  }


  ul {
    list-style-type: none;
    padding: 5px;
  }

  // li:active:hover { 
  //   background-color: #777;
  // }

  // li:hover { 
  //   background-color: #888;
  // }
  
  ul li {
    overflow:hidden;
    margin: 5px;
    border-radius: 5px;
    background: rgb(132, 132, 132);
    padding: 2px;
    color:white;
    position: relative;
  }

  .protocol_text {
    float: left;
    position: relative;
    width: 65%;
    font-size: 0.9em;
  }

  .protocol_meta {
    display: flex;
    align-items: center;
    width: 30%;
    border-left: 1px solid white;
    padding-left: 5px;
    height: 100%;
    right: 0;
    position: absolute;
    font-size: 0.8em;
  }

  .public_protocol_meta {
    display: flex;
    align-items: center;
    width: 30%;
    border-left: 1px solid rgb(143, 143, 143);
    padding-left: 5px;
    height: 100%;
    right: 0;
    position: absolute;
    font-size: 0.8em;
  }

 .protocol_license {
    float: right;
    align-items: center;
    width: 5%;
    min-width: 27px;
    height: 100%;
    right: 0;
    position: absolute;
    font-size: 1.6em;
  }
  
  .protocol_title {
   // border : 1px solid #333;
    border-radius: 2px;
    padding: 2px;
    margin-top: 5px;
    background: #666;
    width: 70%;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: bold;
    float: left;
  }

  .public_protocol_title {
    background-color: rgba(40, 72, 136, 0.335);
    // border : 1px solid #333;
     border-radius: 2px;
     padding: 2px;
     margin-top: 5px;
     width: 70%;
     font-size: 1em;
     margin-bottom: 5px;
     font-weight: bold;
     float: left;
   }

  .protocol_desc {
    // border : 1px solid #333;
     width: 70%;
     font-weight: 1;
   }

  .protocol_buttons {
    float: right;
    margin-bottom: 5px;
    padding: 2px;
    font-size: 1em;
    width: 30%;
  }

  .lister_btn {
    background: #666;
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 2px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 30px;
    width: 30px;
  }


  .public_lister_btn {
    background-color: rgba(40, 72, 136, 0.335);
    border-radius: 8px;
    border-width: 0;
    color: rgb(18, 18, 18);
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 2px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 30px;
    width: 30px;
  }

  .public_lister_btn:hover:enabled {

    background-color: rgba(41, 68, 123, 0.581);
  }

  .public_protocol {
    border: 1px solid rgb(143, 143, 143);
    background-color: rgba(41, 68, 123, 0.231);
    color: rgb(18, 18, 18);
  }
  
  .lister_btn:disabled {
    color: #999999;
  }
  
  .lister_btn:hover:enabled {
    background-color: #111111
  }

  .loaded_protocol {
    background-color: rgba(41, 68, 123, 0.708);
  }

  .public_loaded_protocol {
    background-color: rgba(41, 68, 123, 0.569);
  }
  