.side_btn {
    background-color: rgba(224, 224, 224) !important;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    list-style: none;
    margin: 3px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 30px;
    width: 100%;
  }
  .side_icon {
    float: left;
  }

  .table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    border-bottom-width: 0px !important;
  }
  .side_btn:disabled {
    color: #999999;
  }
  
  .end_btn {
    border-bottom-right-radius : 8px;
    border-top-right-radius : 8px;
  }
  
  .start_btn {
    border-bottom-left-radius : 8px;
    border-top-left-radius : 8px;
  }
  
  .side_btn:hover:enabled {
    background-color: rgba(185, 185, 185) !important;
  }
  
  .side_btn:hover:active:enabled {
    background-color: rgba(165, 165, 165) !important;
  }

  .side_button_text {
    display: inline;
    margin-left: 5px;
    font-size: 15px;
  }

